/*
    RESET
*/

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/*
    GENERAL
*/

html{
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 1200px;
    margin: 0 auto;
}
.my-row{
    display:flex;
    flex-wrap: wrap;
}

/*
    HEADER
*/
header .my-row{
    justify-content: flex-end;
}
/*
    FOOTER
*/

/*
    DEBUG
*/
.debug .top-bar{
    width: 100%;
    min-height: 30px;
    background-color: black;
    color:white;
}