/*
    RESET
*/

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
/*
    UTILITY
*/
.green{
    color:green;
}

/*
    GENERAL
*/

html{
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 1200px;
    margin: 0 auto;
}
.my-row{
    display:flex;
    flex-wrap: wrap;
}

/*
    HEADER
*/
header .my-row{
    justify-content: flex-end;
}

/*
    MAIN
*/
main{
    background-color: black;
    height:calc(100vh - 80px);
}
/*
    FOOTER
*/
footer .my-row{
    justify-content: space-between;
}
footer .my-row .my-col-1-3{
    display:flex;
    flex-wrap: wrap;
}

footer .my-row .my-col-1-3:last-child{
    background-color: #4a4a4a;
    padding:20px 10px;
    color:red;
    font-size: small;
}
/*
    DEBUG
*/
.debug .top-bar{
    width: 100%;
    min-height: 30px;
    background-color: black;
    color:white;
}

.debug .bottom-bar{
    width: 100%;
    min-height: 50px;
    background-color: #222222;
    color:white;
}

.debug main .container .my-row>*{
    width:170px;
    height:100px;
    background-color: lightcoral;
    margin:20px 5px;
    
}